.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
.fl{float: left}
.fr{float:right}
.text-center{text-align: center}
.center-block{display: block;margin-left: auto;margin-right: auto}
.img-responsive{display: block;max-width: 100%;height: auto;}
