// 个人中心 - libang
// @import "./components/search-bar"; // 搜索栏
// @import "./components/mo-menu"; // 菜单
// @import "./components/mo-list"; // 列表
// @import "./components/mo-icon"; // 小图标
// 初始化
.hotel-image-list-page {
  padding-bottom: 110px;
  .web-top {
    @include web-top;
  }
  .header {
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    background: #fff;
    .left {
      width: 30px;
      height: 40px;
      margin-top:20px;
      margin-left: 20px;
    }
  }
  .image-list {
    li {
      padding: 10px 20px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 24px;
    .col {
      height: 100px;
    }
    .s9 {
      background: #f2f2f2;
      color: #000;
      p {
        padding-left: 20px;
      }
    }
    .s3 {
      background: #72cfc7;
      color: #fff;
    }
  }

}
