// 首页制作 - Momo
.index-page {
  width: 100%;
  .web-top {
    @include web-top;
  }
  .search-bar {
    max-height: 88px;
    padding-bottom: 17px;
    .bar-img {
      margin-top: 28px;
    }
    .from-group {
      input[type=text] {
        border: 1px solid #000;
      }
    }
  }
}
