/**
 * 需署名
 * 修改他人代码需加注释
 * 每个页面需要在最外一层加一个命名空间作用的class
 * 若无特殊情况 class嵌套不应该超过2层
 */

/**
 * 作者: kokoro
 * 作用: 首页banner轮播图调用 首页右侧切换调用
 * 创建日期: 2016-04-28
 * 修改日期: 2016-04-28
 */

/* home-page为页面最外层包装的命名空间 */
.login-page{
    width: 600px;
    height: 100px;
    margin: auto;
    background: #000;
    font-size: 32px;
    text-align: center;
    color: red;
}

