// 个人中心 - libang
// @import "./components/search-bar"; // 搜索栏
// @import "./components/mo-menu"; // 菜单
// @import "./components/mo-list"; // 列表
// @import "./components/mo-icon"; // 小图标
// 初始化

.thank-feedback-page {
  background: #f2f2f2;
  min-height: 100%;
  .web-top {
    @include web-top;
  }

  .header {
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    background: #fff;
    .left {
      width: 30px;
      height: 40px;
      margin-top:20px;
      margin-left: 20px;
    }
  }
  .thank {
    background: #fff;
    margin-top: 15px;
    height: 100vw;
    p {
      font-size: 24px;
      color: #e1e1e1;
      &:first-child {
        padding-top: 30vw;
        margin-bottom: 35px;
      }
    }
  }

}
