// 横排列表外层样式
.wedding-suti-list-cross {
  .col.s6 {
    border-top: 1px solid #e1e1e1;/*no*/
    padding-top: 20px;
    margin-bottom: 10px;
    .list-box-content {
      margin-left: 20px;
      margin-right: 12.5px;
    }
    &:nth-of-type(n+2) .list-box-content {
      margin-left: 12.5px;
      margin-right: 20px;
    }
  }

}
