// 右上角分页类型图标
.pagelist-icon {
  position: relative;
  display: block;
  line-height: 88px;
  z-index: 10;
  img{
    width: 38px;
    height: 39px;
  }
}
// <img src="static/assets/images/icon/pagelist-nav01.png" alt="" class="right pagelist-icon">
