// 横排列表外层样式
.wedding-suti-list-upright {
  .blank{
    display: none;
  }
  .col.s6 {
    width: 100%;
    border-top: 1px solid #e1e1e1;/*no*/
    padding-top: 20px;
    .list-box-content {
      margin-left: 20px;
      margin-right: 12.5px;
    }
    &:nth-of-type(n+2) .list-box-content {
      margin-left: 12.5px;
      margin-right: 20px;
    }
  }


    .list-box-content {
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      .list-box-content-pic {
        width: 100%;
        height: 134px;
        max-width: 184px;
        float: left;
      }
      .list-box-content-main{
        width: 415px;
        margin-left: 30px;
        float: left;
      }
      .list-box-content-title {
        color: #444;
        margin-top: 10px;
        line-height: 30px;
        h2 {
          font-size: 30px;
        }
        .title-color {
          font-size: 20px;
          float: right!important;
          margin-top: 0;
          span {
            display: block;
            float: left;
            line-height: 30px;
          }
          img {
            display: block;
            float: left;
            width: 26px;
            height: 30px;
          }
        }
      }
      .list-box-content-info {
        margin-top: 18px;
        font-size: 22px;
        .left{
          float: none !important;
        }
        .right{
          float: none !important;
          margin-top: 15px;
        }
      }
      .wedding-icon {
        overflow: hidden;
        clear: both;
        p{
          display: block;
        }
        i{
          margin-bottom: 10px;
        }
        span{
          display: inline;
          font-size: 24px;
          color: #ababab;
          margin-left: 10px;
        }
      }
    }
}
