.orders-btn{
  padding-right: 50px;
  margin-left: -20px;
  padding-bottom: 10px;
  .btn{
    height: 50px;
    line-height: 45px;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ababab;/*no*/
    border-radius: 5px;
    background-color: #fff;
    box-shadow:none;
  }
  .btn-big{
    padding-left: 20px;
    padding-right: 20px;
  }
}

// <div class="right mt-10 orders-btn">
//   <input type="submit" name="" value="删除" class="btn grey-text text-darken-3 mr-20">
//   <input type="submit" name="" value="去付款" class="btn amber-text text-darken-4 mr-20">
// </div>


// 评价按钮
.evaluation-sub{
  margin-top: 87px;
  text-align: center;
  padding-bottom: 100px;
  input[type=submit]{
    padding: 26px 105px;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #ff6600;
    color: #fff;
    letter-spacing: 10px;
  }
}

// <div class="evaluation-sub">
//   <input type="submit" name="name" value="评价">
// </div>
