// 订单页面的列表title - Momo
.part-title{
  height: 68px;
  line-height: 68px;
  padding-left: 20px;
  padding-right: 50px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  label{
    display: block;
    font-size: 24px;
    color: #565656;
  }
  .patr-title-r{
    float: right;
    line-height: 68px;
    font-size: 24px;
    color: #444;
  }
}

// <div class="part-title">
//   <input type="checkbox" id="patr-title" name="" />
//   <label for="patr-title">平台自营</label>
//   <p class="patr-title-r">
//     等待买家付款
//   </p>
// </div>
