/**
 * components文件夹下放置多个页面已经共用 或未来存在共用可能的样式
 * 此文件为例子 需署名
 * 修改他人代码需加注释
 */

 /**
  * 作者: kokoro
  * 作用: 首页banner轮播图调用 首页右侧切换调用
  * 创建日期: 2016-04-28
  * 修改日期: 2016-04-28
  */

// 这几行是例子
// 组件单独需要的变量放在组件文件顶部
/* 头部相关 */
// $header-width: 100%;
// $header-height: 100px;
// /* logo相关 */
// $logo-width: 20px;
// $logo-height: 20px;
//
// .header {
//   width: $header-width;
//   height: $header-height;
//
//   .logo {
//     width: $logo-width;
//     height: $logo-height;
//     background: #fff;
//   }
// }
// 例子结束
