// 后退按钮的头部 - libang
  .back-header {
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    background: #fff;
    position: relative;
    border-bottom: 1px solid $border-color;
    .left {
      width: 30px;
      height: 40px;
      top:20px;
      left: 20px;
      position: absolute;
    }
  }

// <div class="back-header center-align amber-text text-darken-2">
//   <a href="#"><img src="static/assets/images/icon/back.png" alt="" title="" class="left"></a>
//   我的
// </div>
// 不想让文字变色 把amber-text text-darken-2 去掉即可
