.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 15;
  background-color: rgba(0, 0, 0, .5);
}

.order {
  display: none;
  position: fixed;
  left: 92px;
  bottom: 290px;
  width: 566px;
  height: 416px;
  z-index: 15;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #949494;
  font-size: 30px;
  p {
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid $border-color;
    text-align: center;
  }
  .calendar-page {
    padding-top: 15px;
    padding-left: 26px;
    input,
    input[type=text]:disabled {
      width: 280px;
      height: 71px;
      text-indent: 25px;
      border: 1px solid #949494;
      font-size: 30px;
      &:nth-of-type(1) {
        width: 379px;
      }
    }
  }
  .submit-btn {
    position: absolute;
    left: 140px;
    bottom: 45px;
    margin-top: 10px;
    width: 287px;
    height: 75px;
    line-height: 75px;
    border-radius: 10px;
    text-align: center;
    background-color: $primary-color;
    color: #fff;
  }
}

.calendar {
  position: absolute;
  margin-left: 20px;
  width: 72px;
  height: 72px;
  background: url(../assets/images/icon/calendar.png) no-repeat center center;
  background-size: 72px;
  -webkit-background-size: 72px;
  -moz-background-size: 72px;
  -ms-background-size: 72px;
  -o-background-size: 72px;
}

.emcee-add {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 597px;
  background-color: #fff;
}