// 个人中心 - libang
  .li-list {
    margin-bottom: 15px;
    ul {
      background: #fff;
      padding: 0 20px;
    }
    li {
      height: 100px;
      line-height: 100px;
      font-size: 24px;
      border-bottom: 1px solid $border-color;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
    }
    .mulit {
      padding: 20px 0;
      height: 100px;
      line-height: 1em;
      p {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
    .grey-text {
      font-size: 20px;
    }
  }
// 双行文字
// <div class="li-list">
//   <ul>
//     <li class="mulit">
//       <p class="red-text">竞嫁网联合建行卡推出筑巢计划
//         <a href="#"><img src="static/assets/images/icon/front.png" alt="" title="" class="right front"></a>
//       </p>
//       <p class="grey-text">最高30万，前100名免息</p>
//     </li>
//   </ul>
// </div>

// 单行文字
// <div class="li-list">
//   <ul>
//     <li>
//       <p>意见反馈<span class="grey-text">&nbsp;感谢您对竞嫁网提供服务的每一个意见反馈</span>
//         <a href="#"><img src="static/assets/images/icon/front.png" alt="" title="" class="right front"></a>
//       </p>
//     </li>
//     <li>
//       <p>客服热线：<span class="red-text">-400-9611-365</span>
//         <a href="#"><img src="static/assets/images/icon/front.png" alt="" title="" class="right front"></a>
//       </p>
//     </li>
//   </ul>
// </div>
