// 酒店图片列表 - libang

.only-image-list {
  li {
    padding: 10px 20px;
  }
}

// <div class="only-image-list">
//   <ul>
//     <li><img src="static/assets/images/content/bg01.jpg" alt="" title="" class="img-responsive center-block"></li>
//     <li><img src="static/assets/images/content/bg01.jpg" alt="" title="" class="img-responsive center-block"></li>
//   </ul>
// </div>

// 列表样式 - Momo
  // 列表开头
  .list-title{
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    h1{
      float: left;
      line-height: 70px;
      font-size: $m-fontSize;
      color: #444;
    }
    .list-title-more{
      float: right;
      display: block;
      font-size: 16px;
      color: #787878;
    }
  }
  // 列表内容部分
  .list-content{
    li{
      height: 260px;
      padding: 20px;
      border-top: 1px solid $border-color;
      .list-content-pic{
        display: block;
        float: left;
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 225px;
      }
      .list-text{
        padding-left: 340px;
        font-size: 22px;
        .list-text-title{
          font-size: $l-fontSize;
          color: #565656;
          padding-top: 16px;
        }
        p{
          padding-top: 14px;
        }
        .list-text-price{
          color: #787878;
          span{
            color: #fc0101;
          }
        }
        .list-text-type{
          color: #787878;
        }
        .list-text-color{
          color: #949494;
          span{
            margin-right: $l-fontSize;
          }
        }
        .list-text-icon{
          padding-top: 25px;
        }
      }
    }
  }

  // 颜色列表
  .color-list {
    background: #fff;
    a {
      color: #000;
    }
    .color {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .color-title {
      font-size: $m-fontSize;
      padding: 15px 0;
    }
    .col {
      margin-bottom: 50px;
    }
  }
