// 三角形
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #565656;
  vertical-align: middle;
  margin-top: -3px;
}
.triangle_top {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #565656;
  border-top: 0;
}
.active .triangle{
  border-bottom-color: #ff6600;
  border-top-color: #ff6600;
}
