// 图标组件

  .menu-icon{
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    background-color: $primary-color;
    margin-bottom: 8px;
    img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
    }
  }

  .icon-round-40{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  .mo-red{
    background-color: #ff0000;
  }
  .mo-bule{
    background-color: #2f72fb;
  }
  .mo-h{
    background-color: #f76a25;
  }

  // <div class="list-text-icon">
  //   <i class="icon-round-40 white-text mo-red offset-15">减</i>
  //   <i class="icon-round-40 white-text mo-bule offset-15">巢</i>
  //   <i class="icon-round-40 white-text mo-h offset-15">礼</i>
  // </div>
  //
  // 小图标
