/**
 * 多个页面通用的方法
 * 例子如下
 */

 /**
  * 父级框下的垂直绝对定位
  */
 @mixin vertical-center () {
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
 }

// 头顶 - momo
@mixin web-top () {
  height: 40px;
  background-color: $primary-color;
}

// 清楚浮动 - momo
@mixin clearfix () {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.row{
  margin: 0;
}
.row .col {
  padding: 0;
}
.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix {
  zoom:1;
}
.img-responsive {
  display: block;
  max-width: 100%;height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.full, html {
  height: 100%;
}
