/**
  * 若需要时可以引用修改的rem媒体查询定义文件
  * 例如下 320像素为基准的rem配置
  */
 $basesize: 40/720;

 @media only screen and (max-width: 960px),
 only screen and (max-device-width:960px) {
   html,
   body {
     font-size: $basesize * 960px; /*no*/
   }
 }
 @media only screen and (max-width: 800px),
 only screen and (max-device-width:800px) {
   html,
   body {
     font-size: $basesize * 800px; /*no*/
   }
 }
 @media only screen and (max-width: 720px),
 only screen and (max-device-width:720px) {
   html,
   body {
     font-size: $basesize * 720px; /*no*/
   }
 }
 @media only screen and (max-width: 640px),
 only screen and (max-device-width:640px) {
   html,
   body {
     font-size: $basesize * 640px; /*no*/
   }
 }
 @media only screen and (max-width: 600px),
 only screen and (max-device-width:600px) {
   html,
   body {
     font-size: $basesize * 600px; /*no*/
   }
 }
 @media only screen and (max-width: 540px),
 only screen and (max-device-width:540px) {
   html,
   body {
     font-size: $basesize * 540px; /*no*/
   }
 }
 @media only screen and (max-width: 480px),
 only screen and (max-device-width:480px) {
   html,
   body {
     font-size: $basesize * 480px; /*no*/
   }
 }
 @media only screen and (max-width: 414px),
 only screen and (max-device-width:414px) {
   html,
   body {
     font-size: $basesize * 414px; /*no*/
   }
 }
 @media only screen and (max-width: 400px),
 only screen and (max-device-width:400px) {
   html,
   body {
     font-size: $basesize * 400px; /*no*/
   }
 }
 @media only screen and (max-width: 375px),
 only screen and (max-device-width:375px) {
   html,
   body {
     font-size: $basesize * 375px; /*no*/
   }
 }
 @media only screen and (max-width: 360px),
 only screen and (max-device-width:360px) {
   html,
   body {
     font-size: $basesize * 360px; /*no*/
   }
 }
 @media only screen and (max-width: 320px),
 only screen and (max-device-width:320px) {
   html,
   body {
     font-size: $basesize * 320px; /*no*/
   }
 }
 @media only screen and (max-width: 240px),
 only screen and (max-device-width:240px) {
   html,
   body {
     font-size: $basesize * 240px; /*no*/
   }
 }
=======
// /**
//  * 若需要时可以引用修改的rem媒体查询定义文件
//  * 例如下 320像素为基准的rem配置
//  */
// $base-size: 20px;
//
// @media only screen and (max-width: 960px),
// only screen and (max-device-width:960px) {
//   html,
//   body {
//     font-size: $base-size * 2; /*no*/
//   }
// }
// @media only screen and (max-width: 800px),
// only screen and (max-device-width:800px) {
//   html,
//   body {
//     font-size: $base-size * 2.5; /*no*/
//   }
// }
// @media only screen and (max-width: 720px),
// only screen and (max-device-width:720px) {
//   html,
//   body {
//     font-size: $base-size * 2.25; /*no*/
//   }
// }
// @media only screen and (max-width: 640px),
// only screen and (max-device-width:640px) {
//   html,
//   body {
//     font-size: $base-size * 2; /*no*/
//   }
// }
// @media only screen and (max-width: 600px),
// only screen and (max-device-width:600px) {
//   html,
//   body {
//     font-size: $base-size * 1.88; /*no*/
//   }
// }
// @media only screen and (max-width: 540px),
// only screen and (max-device-width:540px) {
//   html,
//   body {
//     font-size: $base-size * 1.69; /*no*/
//   }
// }
// @media only screen and (max-width: 480px),
// only screen and (max-device-width:480px) {
//   html,
//   body {
//     font-size: $base-size * 1.5; /*no*/
//   }
// }
// @media only screen and (max-width: 414px),
// only screen and (max-device-width:414px) {
//   html,
//   body {
//     font-size: $base-size * 1.29; /*no*/
//   }
// }
// @media only screen and (max-width: 400px),
// only screen and (max-device-width:400px) {
//   html,
//   body {
//     font-size: $base-size * 1.25; /*no*/
//   }
// }
// @media only screen and (max-width: 375px),
// only screen and (max-device-width:375px) {
//   html,
//   body {
//     font-size: $base-size * 1.17; /*no*/
//   }
// }
// @media only screen and (max-width: 360px),
// only screen and (max-device-width:360px) {
//   html,
//   body {
//     font-size: $base-size * 1.13; /*no*/
//   }
// }
// @media only screen and (max-width: 320px),
// only screen and (max-device-width:320px) {
//   html,
//   body {
//     font-size: $base-size; /*no*/
//   }
// }
// @media only screen and (max-width: 240px),
// only screen and (max-device-width:240px) {
//   html,
//   body {
//     font-size: $base-size * 0.75; /*no*/
//   }
// }
>>>>>>> 92fc9102e7993b102f7a27dae2b4a7b53cac4f06
