.hotel-show-page {
	margin-bottom: 98px;
}
.list-text1 {
	font-size: 22px;
	padding: 16px 0 16px 30px;
	background: url("../assets/images/icon/arrow-s1.png") no-repeat;
	background-size: 16px 28px;
	background-position: 93% 85%;
	.list-text-title {
		font-size: 30px;
		color: #565656;
		line-height: 1.5em;
	}
	p {
		line-height: 1.5em;
	}
	.list-text-price {
		font-size: 22px;
		color: #787878;
		span {
			color: #fc0101;
		}
	}
	.list-text-type {
		color: #787878;
	}
	.list-text-color {
		font-size: 22px;
		color: #949494;
		span {
			margin-right: $l-fontSize;
		}
	}
	.list-text-icon {
		margin-top: -30px;
	}
}
.icon-round {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 20%;
	margin: 0 20px;
	font-size: 22px;
}
.list-text-icon1 {
	border-top: 0.4rem solid #f2f2f2;
	border-bottom: 0.4rem solid #f2f2f2;
	p {
		height: 100px;
		line-height: 100px;
		font-size: 24px;
		color: #777777;
		font-family: "微软雅黑";
		border-bottom: 0.025rem solid #E1E1E1;

	}
}
.banquet-title {
	text-align: center;
	height: 100px;
	color: #FF6500;
	font-size: 30px;
	p {
		line-height: 100px;
		border-bottom: 1px solid #e1e1e1;
		font-size: 30px;

	}
}
.wedding-menu {
	.list-meal {
		font-size: 26px;
		height: 80px;
		line-height: 80px;
		padding: 0;
		color: #555555;
		border-bottom: 1px solid #E1E1E1;

		background: url("../assets/images/icon/arrow-s1.png") no-repeat;
		background-size: 16px 28px;
		background-position: 98% 50%;
		span {
			color: red;
			float: right;
			margin-right: 50px;
		}

	}
	.pad-left {
		padding-left: 25px;
	}
}
.business-introduction {

	background-size: 39px 22px;
	background-position: 50% 85%;
	margin-bottom: 50px;
	.hotel-introduce-box {
		padding-top: 15px;
		width: 650px;
		margin: 0 auto;
	}
	.hotel-introuce-show {
		text-align: center;
		height: 100px;
		margin: 30px;
		img {
			vertical-align: middle;
			width: 39px;
			height: 22px;
			position: absolute;
			margin-bottom: 50px;
			transform: rotateZ()
		}
		.active {
			transform: rotate(180deg);

		}
	}
	.hotel-titel {
		text-align: center;
	}
	.hotel-info {
		overflow: hidden;
	}
  .info-hide {
    display: none;
  }
	.hotel-introduce {
		line-height: 2em;
		font-size: 24px;
		color: #939393;
	}
}
.bottom-info {
	height: 98px;
	background-color: #F2F2F2;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	.bottom-info-box {
		text-align: center;
		li {
			float: left;
			text-align: center;
			width: 25%;
			font-size: 30px;
			line-height: 98px;
		}
		a {
			color: white;
		}
		.earphone {
			border-right: 1px solid #E1E1E1;
			img {
				width: 60px;
				height: 47px;
				vertical-align: middle;
			}
		}
		.phone {
			img {
				width: 48px;
				height: 50px;
				vertical-align: middle;
			}
		}
		.order-btn {
			background-color: #71CEC6;
		}
		.shop-btn {
			background-color: #FF6500
		}
	}
}
.wedding-menu-mask {

	position: fixed;
	height: 1000px;
	width: 750px;
	display: none;
	z-index: 999;
	.mask {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 5;
		display: block;
	}
	.menu-box {
		width: 687px;
		height: 91.8%;
		position: fixed;
		top: 0;
		right: 0;
		background: #fff;
		z-index: 999999;
		overflow: auto;
		padding-bottom: 50px;
		.menu-list {
			color: #777777;
			font-size: 26px;
			.menu-title {
				text-align: center;
				color: #FF6500;
				font-size: 30px;
				height: 69px;
				line-height: 69px;
				border-bottom: 1px solid #e1e1e1;
			}
			.menu-info {
				line-height: 1.7em;
				padding-top: 5px;
				padding-left: 30px;
				padding-bottom: 30px;
				font-size: 26px;
			}
		}
	}
}
.inf-box {
	border-bottom: 0.4rem solid #f2f2f2;
}
.list-font-color {
	color: #444444;
	font-size: 26px;
	span {
		color: #FF6500;
	}
}
.list-text {
	p {
		height: 50px;
		line-height: 50px;
	}
}

.hotel-slider-box{
	height: 530px;
	max-height: 530px;
}
.overflowY {
	overflow-y: hidden;
}
