//婚礼人页面  xiaowei
.hotel-list-page {

	.list-content1 {
		li {
			padding: 20px;
			border-top: 1px solid $border-color;
			.list-content-pic {
				display: block;
				float: left;
				
				max-width: 184px;
				max-height: 134px;
			}
			.list-text {
				padding-left: 215px;
				font-size: 22px;
				.list-text-title {
					font-size: 30px;
					;
					color: #565656;
					
				}
				p {
					padding-top: 14px;
				}
				.list-text-price {
					font-size: 22px;
					color: #787878;
					span {
						color: #fc0101;
					}
				}
				.list-text-type {
					color: #787878;
				}
				.list-text-color {
					font-size: 22px;
					color: #949494;
					span {
						margin-right: $l-fontSize;
					}
				}
				.list-text-icon {
					margin-top: -1rem;
				}
			}
		}
	}
	.icon-round {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-radius: 20%;
		float: right;
		margin: 0 5px;
	}

	.area-list-img {
		width: 30px;
		height: 29px;
		vertical-align: middle;
	}

}

// 新增修改 -Momo
.search-bar .hotel-group{
	padding-left: 80px;
	input[type=text]{
		width: 450px;
	}
	.search-btn{
		width: 65px;
	}
}

.mask-list{
	display: none;
	position: fixed;
	z-index: 10;
	top: 191px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 26px;
	.mask-optional{
		background-color: #fff;
		height: 70px;
		line-height: 70px;
		padding-left: 53px;
		border-bottom: 1px solid #f2f2f2;
		color: #444;
	}
	.active{
		color: #f60;
		background: #fff url('../assets/images/icon/hook.png') 650px  no-repeat;
		background-size:30px 30px;
	}
	.mask-box{
		height: 60%;
		overflow:auto;
	}
}
