// 导入所有的页面sass
@import "./hotel-image-list"; //酒店图片列表 -editor = libang
@import "./thank-feedback"; //感谢反馈 -editor = libang
@import "./personal-center/index"; //个人中心 -editor = libang
@import "./personal-info/index"; //个人资料 -editor = libang
@import "./wedding-product/index"; //婚礼套餐 -editor = libang
@import "./store-classify/index"; //商店分类 -editor = libang
@import "./login"; //登陆 -editor = libang
@import "./feedback"; //感谢反馈 -editor = lq
@import "./wedding-package"; //婚礼 -editor = lq
@import "./wedding-emcee"; //婚礼住持人详情9.1 -editor = lq
@import "./submit-order"; //订单提交支付 -editor = lq
@import "./shopcar-page"; //购物车页面 -editor = lq
// 首页样式 - Momo
@import "./home/index";
// 收货样式 - Momo
@import "./orders/index";
@import "./hotel-list"; //酒店列表 - xiaowei
@import "./hotel-show"; //酒店详情 - xiaowei
@import "./wedding-people";//婚礼人 - xiaowei
@import "./wedding-dress-details";//婚纱礼服详情 - xiaowei
@import "./wedding-dress-list";//婚纱列表详情 - xiaowei


// 套装样式 - Momo
@import "./wedding-suit/index";

// 婚纱店页面 - Momo
@import "./webbing-shop/index";
