.full-bg {
  background: url('../assets/images/content/bg16.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#code {
  box-sizing: border-box;
  padding-right: 230px;
}
.login-page {
  .logo {
    padding-top: 190px;
    padding-bottom: 160px;
  }
  .form-container {
    padding: 0 80px;
    position: absolute;
    width: 100%;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
    .input-field {
      margin-top: 10px;
    }
    input {
      height: 2rem;
      line-height: 2rem;
      color: #787878;
    }
    label {
      top: 0.5rem;
      font-size: 0.9rem;
    }
    .btn {
      margin-top: 20px;
      padding: 0;
      height: 75px;
      line-height: 75px;
      font-size: 0.9rem;
      background: $primary-color;
      color: #fff;
    }
    a {
      font-size: $l-fontSize;
      margin-top: 40px;
      color: #787878;
    }
    .s12 {
      position: relative;
      .code-btn {
        position: absolute;
        right: 0;
        bottom: 50px;
        width: 210px;
      }
    }
  }
}
