.fr {
  float: right;
}

.submit-order-page {
  margin-bottom: 98px;
  background-color: $background-color;
}

.wedding-day {
  padding-left: 50px;
  height: 100px;
  line-height: 100px;
  font-size: 26px;
  color: #444;
  background-color: $background;
  input {
    width: 453px;
    height: 75px;
    border: 2px solid #787878;
    font-size: 26px;
    text-indent: 20px;
  }
  span {
    margin: 14px 32px;
  }
}

.order-list {
  position: relative;
  background-color: $background;
  .order-hotel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 8px;
    width: 302px;
    height: 346px;
    border-left: 2px solid $border-color;
    background-color: $background;
    img {
      width: 100%;
      height: 100%;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 133px;
      height: 50px;
      line-height: 50px;
      border-radius: 10px;
      text-align: center;
      color: #fff;
      background-color: $primary-color;
      opacity: 0.7;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  li {
    padding: 15px 20px 15px 50px;
    border-bottom: 2px solid $border-color;
    img {
      float: left;
      margin-top: 10px;
      width: 120px;
      height: 120px;
      border: 1px solid #393939;
    }
    .active {
      display: block;
    }
  }
}

.order-item {
  min-height: 150px;
  padding-left: 140px;
  .item-title {
    padding-top: 10px;
    height: 65px;
    line-height: 1.1;
    font-size: 24px;
    color: #444
  }
  .item-info {
    margin: 15px 0;
    height: 20px;
    font-size: 20px;
    color: #ababab;
  }
  .item-price {
    font-size: 24px;
    .item-num {
      padding-right: 30px;
      color: #444;
      font-size: 24px;
    }
  }
}

.order-price-info {
  display: none;
  margin-top: 5px;
  padding: 8px;
  font-size: 18px;
  background-color: $primary-color;
  color: #fff;
  p {
    margin-bottom: 0;
    line-height: 2;
  }
}

.order-form {
  background-color: $background;
  color: #444;
  a {
    display: block;
    padding: 0 50px;
    line-height: 2;
    border-bottom: 2px solid $border-color;
    font-size: 26px;
    color: #444;
    .fontgray {
      color: #ababab;
    }
  }
}

.order-form,
.total,
.paymode,
.item-price {
  span {
    color: #f00;
  }
}

.total {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: $background;
  p {
    padding-left: 50px;
    line-height: 95px;
    font-size: 24px;
    a {
      width: 270px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      background-color: $primary-color;
      color: #fff;
    }
  }
}

.paymode {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 717px;
  padding: 10px 76px 0 76px;
  font-size: 30px;
  text-align: center;
  background-color: $background;
  p:nth-child(1) {
    padding: 35px 0;
  }
  p:nth-child(2) {
    background-color: $primary-color;
  }
  p:nth-child(3) {
    background-color: #f60;
  }
  p:nth-child(4) {
    background-color: #3cb035;
  }
  p:nth-child(5) {
    background-color: #02a9ef;
  }
  p:nth-child(6) {
    background-color: $primary-color;
  }
  a {
    display: block;
    margin: 15px 0 5px;
    width: 598px;
    min-height: 79px;
    line-height: 79px;
    border-radius: 5px;
    color: #fff;
  }
  .active {
    border: 2px solid #f00;
    background-color: $background;
    color: #000;
  }
  .order-apply {
    padding: 45px 0;
    font-size: 20px;
    font-family: "SimHei";
    color: #313131;
  }
}
