//婚纱礼服详情 xiaowei
.bgcolor {
	background: #F4F4F4;
}


.mc-info p:nth-of-type(1) {
	color: #434343;
	font-size: 30px;
}
.mc-info p:nth-of-type(2) {
	color: #ABABAB;
	font-size: 24px;
}
.mc-info p:nth-of-type(3) {
	color: #FF6500;
	font-size: 32px;
	span {
		color: #ABABAB;
		font-size: 24px;
	}
}
.slider {
	height: 750px;
	.slider-box {
		height: 750px;
	}
}
.fz26 {
	color: #777777;
	font-size: 26px;
	line-height: 80px;
	padding-left: 0.5rem;
	background: url("../assets/images/icon/arrow-s2.png") no-repeat;
	background-position: 98% 50%;
	background-size: 22px 39px;
}
.server-info {
	height: 80px;
	margin: 0.375rem 0;
}
.main-img,
.main-info {
	float: left;
}
.main-img {
	padding: 30px 20px;
	img {
		width: 220px;
		height: 220px;
	}
}
.main-info {
	float: left;
	padding-top: 30px;
	width: 450px;
	P {
		width: 370px;
		line-height: 1.3em;
		padding-bottom: 20px;
	}
	p:nth-of-type(1) {
		font-size: 30px;
		color: #555555;
	}
	p:nth-of-type(2) {
		font-size: 26px;
		color: #ABABAB;
	}
}
.main-box {
	height: 280px;
}
.main-p {
	float: left;
	color: #434343;
	line-height: 1.5em;
	.main-p-box {
		float: left;
		border: 1px solid #000;/*no*/
		border-radius: 5px;
		font-size: 28px;
		padding: 20px 45px;
		margin-right: 25px;
	}
}
.fz26-1 {
	color: #FF6500;
	font-size: 26px;
	line-height: 80px;
	padding-left: 0.5rem;
}
.wedding-details-list {
	padding-bottom: 100px;
	.details-list-box {
		float: left;
		font-size: 22px;
		background: #fff;
		margin: 5px 12px;
		padding-bottom: 15px;
		.list-box {
			width: 342px;
		}
		p {
			padding-left: 8px;
			color: #434343;
			width: 290px;
		}
		p:nth-of-type(2) {
			color: #FF0000;
			padding-top: 40px;
		}
		.list-img {
			text-align: center;
			width: 342px;
			img {
				width: 327px;
				height: 297px;
				margin: 8px 0;
			}
		}
		.list-con {
			background: url("../assets/images/icon/shopcar2.jpg") no-repeat;
			background-position: 95% 98%;
			background-size: 40px 38px;
		}
	}
}
.details-add {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 16;
	width: 100%;

	background-color: #fff;

	display: none;
	.details-sure {
		height: 2.45rem;
		line-height: 2.45rem;
		text-align: center;
		a {
			float: left;
			width: 100%;
			color: #fff;
			background-color: #72cfc7;
		}
	}
	.details-offer {
		background: #F1F1F1;
		font-size: 30px;
		color: #555;

		padding: 20px 0 20px 20px;
		.details-size-option {
			float: left;

			text-align: center;
			background: #fff;
			border: 1px solid #949494;/*no*/
			height: 58px;
			width: 127px;


			margin-right: 10px;
			margin-top: 25px;
			a{
				color: #ABABAB;
				font-size: 26px;
				line-height: 58px;

			}
		}
		.details-color-option {
			float: left;
			background: #fff;
			border: 1px solid #949494;/*no*/
			height: 54px;
			width: 329px;
			text-align: center;
			margin-right: 10px;
			margin-top: 25px;
			a{
				font-size: 26px;
				color: #CBCBCB;
				line-height: 54px;
			}
		}
		.details-sum-option {
			float: left;
			color: #CBCBCB;
			background: #fff;
			border: 1px solid #949494;/*no*/


			text-align: center;

			margin-right: 10px;
			margin-top: 25px;
			input[type=number]{
				width: 124px;
				height: 44px;
				line-height: 44px;
				border: 0;
				text-align: right;
				margin: 0;
				font-size: 30px;
			}
		}

	}
	.details-offer .active {
		border: 0.025rem solid #f00;
	}
}
.boxcenter{
	margin: 0 auto;
	width: 732px;
}
.details-foot{
	background: url(../assets/images/icon/shopcar3.png) no-repeat center center;
    background-size: 56px;

}
.num-titel{
	margin:30px 0;
}
 .edit-num {
      width: 67%;
      height: 100%;
      font-size: 30px;

      .moniinput {
        .spinner {
          margin-top: -5px;
          width: 25px;
          height: 48px;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          border: 1px solid $border-color;/*no*/
          border-left: none;
          .js_numadd {
            padding-bottom: 2px;
            div {
              width: 0;
              height: 0;
              border: 10px solid transparent;
              border-bottom: 10px solid #444;
            }
          }
          .js_numminus {
            padding-top: 2px;
            div {
              width: 0;
              height: 0;
              border: 10px solid transparent;
              border-top: 10px solid #444;
            }
          }
        }
      }
      input {
        margin-top: -5px;
        text-indent: 40px;
        width: 85px;
        height: 44px;
        font-size: 30px;
        border: 1px solid $border-color;/*no*/
      }
	 p{
		 line-height: 40px;
		 height: 46px;
	 }
    }
