// 婚礼套餐详情 - lq
//轮播图
@import "./wedding-package"; //婚礼 -editor = lq
.slider .indicators .indicator-item.active {
  background-color: #f60;
}

.wedding-emcee {
  position: relative;
  margin-bottom: 95px;
  background-color: $background-color;
  .slider-box,
  .slider {
    max-height: 750px;
    height: 750px;
  }
}

.mc-info {
  padding: 10px 20px;
  background-color: #fff;
  p {
    line-height: 1.7;
    font-size: 26px;
    &:nth-of-type(2) {
      color: #f00;
    }
    &:nth-of-type(3) {
      color: #787878;
    }
    &:nth-of-type(4) {
      color: #949494;
    }
  }
}

.serverinfo {
  margin: 15px 0;
  background-color: #fff;
  .servermain {
    padding: 20px 20px 10px;
    p {
      font-size: 26px;
      line-height: 1.7;
      color: #444;
    }
  }
}

.mc-about {
  .aboutmain {
    padding: 0 50px 20px;
    p {
      font-size: 24px;
      line-height: 2;
      color: #949494;
      &:nth-of-type(1) {
        padding-top: 12px;
        text-align: center;
      }
    }
  }
}

.example {
  background-color: #fff;
  padding-bottom: 10px;
  .photo {
    padding-top: 20px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: #f60;
    span {
      display: inline-block;
      width: 224px;
      background-color: #fff;
    }
  }
  .imgbox {
    padding: 40px 20px 0;
    border-top: 2px solid $border-color;
    img {
      width: 100%;
    }
  }
  .emcee {
    margin: 0 20px;
    padding: 10px 20px;
    background-color: $background-color;
    p {
      line-height: 1.4;
    }
    p:nth-of-type(1) {
      font-size: 26px;
      color: #565656;
    }
    p:nth-of-type(2) {
      font-size: 22px;
      color: #949494;
    }
  }
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 11;
  background-color: rgba(0, 0, 0, .5);
}

.emceebar {
  li {
    border: none;
  }
  li:nth-of-type(1) {
    border-right: 1px solid $border-color;
  }
  li:nth-of-type(3) {
    a {
      background-color: $primary-color;
    }
  }
  .footer-btn {
    width: 205px;
  }
}

.order {
  //  display: none;
  position: absolute;
  left: 92px;
  bottom: 290px;
  width: 566px;
  height: 416px;
  z-index: 15;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #949494;
  font-size: 30px;
  p {
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid $border-color;
    text-align: center;
  }
  .calendar-page {
    padding-top: 15px;
    padding-left: 26px;
    input,
    input[type=text]:disabled {
      width: 280px;
      height: 71px;
      text-indent: 25px;
      border: 1px solid #949494;
      font-size: 30px;
      &:nth-of-type(1) {
        width: 379px;
      }
    }
    .calendar {
      position: absolute;
      margin-left: 20px;
      width: 72px;
      height: 72px;
      background: url(../assets/images/icon/calendar.png) no-repeat center center;
      background-size: 72px;
    }
  }
  .submit-btn {
    position: absolute;
    left: 140px;
    bottom: 45px;
    margin-top: 10px;
    width: 287px;
    height: 75px;
    line-height: 75px;
    border-radius: 10px;
    text-align: center;
    background-color: $primary-color;
    color: #fff;
  }
}

.calendar {
  position: absolute;
  margin-left: 20px;
  width: 72px;
  height: 72px;
  background: url(../assets/images/icon/calendar.png) no-repeat center center;
  background-size: 72px;
}

.emcee-add {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 597px;
  background-color: #fff;
  .emcee-photo {
    height: 205px;
    padding: 20px;
    border-bottom: 1px solid $border-color;
    img {
      float: left;
      width: 248px;
      height: 165px;
    }
    p {
      padding: 20px 0;
      text-indent: 20px;
      font-size: 26px;
      &:nth-of-type(2) {
        padding-top: 55px;
      }
      span {
        color: #f00;
      }
    }
  }
  .emcee-offer {
    height: 294px;
    padding: 10px 20px;
    a {
      display: block;
      margin-top: 10px;
      padding-left: 28px;
      height: 73px;
      line-height: 73px;
      border: 1px solid $border-color;
      border-radius: 9px;
      font-size: 24px;
      color: #787878;
      span {
        float: right;
        padding-right: 20px;
      }
    }
    .active {
      border: 1px solid #f00;
    }
  }
  .emcee-sure {
    height: 98px;
    line-height: 98px;
    text-align: center;
    a {
      float: left;
      width: 100%;
      color: #fff;
      background-color: $primary-color;
    }
  }
}