//婚礼人页面  xiaowei
.bgcolor{
	background: #F4F4F4;
	position: relative;
	
}
.wedding-people-page {
	
	.width-33 li {
		position: relative;
		float: left;
		width: 33.33%;
		height: 88px;
		line-height: 60px;
		background-color: white;
		.optional-text {
			height: 40px;
			line-height: 40px;
			text-align: center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			border-right: 1px solid #f2f2f2;
			/*no*/
			font-size: 26px;
			color: #565656;
		}
	}
	.wedding-search-btn2,
	.wedding-search-btn1 {
		width: 120px;
		height: 60px;
		line-height: 60px;
		padding: 0;
		border: 0.025rem solid #FF6600;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-left: 0;
		font-size: 30px;
		text-align: center;
		float: left;
		&:active {
			background-color: #FF6600;
		}
	}
	.wedding-search-btn1 {
		-webkit-border-radius: 0.75rem 0 0 0.75rem;
		border-radius: 0.75rem 0 0 0.75rem;
		background-color: #FF6600;
		&.active {
			color: white
		}
		;
	}
	.wedding-search-btn2 {
		-webkit-border-radius: 0 0.75rem 0.75rem 0;
		border-radius: 0 0.75rem 0.75rem 0;
		background-color: #FFFFFF;
		color: #FF6600;
	}
	.wedding-from {
		height: 1.65rem;
		padding-left: 0.675rem;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
	}
	.wedding-group {
		padding-left: 236px;
	}
	.search-color {}
	.mask-list-top {
		top: 5.375rem;
	}
	.mask-top {
		border-top: 1px solid #E1E1E1;
	}
}
.wedding-content {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 48px;
	.content-box {
		background: white;
		width: 710px;
		height: 592px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.content-title {
		font-size: 26px;
		color: #555555;
	}
	.content-tab {
		font-size: 22px;
		color: #939393;
	}
	img {
		width: 100%;
		height: 480px;
	}
	p {
		line-height: 1.75em;
		padding-left: 20px;
	}
	span {
		float: right;
		padding-right: 30px;
		color: red;
		font-size: 30px;
	}
}
.wedding-production {
	width: 100%;
	display: none;
	margin-bottom: 48px;
	.content-box {
		margin-top: 15px;
		
		background: white
	}
	.production-imgbox {
		position: relative;
		height: 520px;
		width: 710px;
		margin: 0 auto;
		background: url(../assets/images/wedding/production1.gif) center no-repeat;
		background-size: 710px 480px;
		p {
			position: absolute;
			bottom: 0;
			color: white;
			font-size: 26px;
			line-height: 40px;
			padding-left: 20px;
			padding-right: 40px;
			padding-bottom: 20px;
			width: 100%;
		}
		img {
			width: 40px;
			height: 37px;
			float: right;
			margin: 0 5px;
		}
		span {
			font-size: 30px;
			float: right;
		}
	}
}
