// 婚礼套餐详情 - lq
.wedding-package {
  margin-bottom: 95px;
  background-color: $background-color;
}
//轮播图
.slider .indicators .indicator-item.active {
  background-color: #fff;
  opacity: 1;
}
.slider-box {
  position: relative;
  max-height: 530px;
  .indicators {
    z-index: 10;
    padding-bottom: 20px;
    .indicator-item {
      width: 15px;
      height: 15px;
      margin: 0 5px;
      opacity: 0.5;
    }
  }
}
.icon-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 60px;
  li {
    float: right;
    padding: 20px;
    a {
      display: inline-block;
      width: 42px;
      height: 42px;
    }
    .w-back {
      background: url(../assets/images/icon/w-back.png) no-repeat center center;
      background-size: 42px 42px;
      -webkit-background-size: 42px 42px;
      -moz-background-size: 42px 42px;
      -ms-background-size: 42px 42px;
      -o-background-size: 42px 42px;
    }
    .w-star {
      background: url(../assets/images/icon/w-star.png) no-repeat center center;
      background-size: 42px 42px;
      -webkit-background-size: 42px 42px;
      -moz-background-size: 42px 42px;
      -ms-background-size: 42px 42px;
      -o-background-size: 42px 42px;
    }
    .w-share {
      background: url(../assets/images/icon/w-share.png) no-repeat center center;
      background-size: 42px 42px;
      -webkit-background-size: 42px 42px;
      -moz-background-size: 42px 42px;
      -ms-background-size: 42px 42px;
      -o-background-size: 42px 42px;
    }
  }
  li:nth-of-type(1) {
    float: left;
  }
}
.redradius {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #f00;
}
.package-info {
  background-color: #fff;
  padding-top: 10px;
  p {
    padding-left: 20px;
    line-height: 1.4;
    &:nth-of-type(2n-1) {
      font-size: 28px;
    }
    &:nth-of-type(2n) {
      font-size: 18px;
    }
  }
}
.price {
  margin-top: 20px;
  height: 75px;
  background-color: $border-color;
  ul {
    margin-left: 10px;
    li {
      float: left;
      margin-top: 8px;
      padding-left: 10px;
      width: 33%;
      height: 60px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      line-height: 60px;
      font-size: 26px;
      white-space: nowrap;
      span {
        color: #f00;
      }
    }
    li:nth-of-type(1) {
      padding-left: 40px;
    }
    li:nth-of-type(2) {
      width: 34%;
      border-left: 2px solid #ababab;
      border-right: 2px solid #ababab;
      text-decoration: line-through;
    }
  }
}
//广告
.ad {
  margin: 15px 0;
  width: 100%;
  height: 110px;
  background: url(../assets/images/advertising/advertising02.jpg) no-repeat center center;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
}
//套餐介绍
.package-introduce {
  background-color: #fff;
  .fz30 {
    padding: 25px 0;
    border-bottom: 1px solid $border-color;
    font-size: 30px;
    color: #f60;
    text-align: center;
  }
  .content {
    padding: 15px 20px;
    font-size: 20px;
    line-height: 1.5;
  }
  .imgbox {
    padding: 15px 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
//底部菜单
.footerbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  z-index: 13;
  background-color: $background-color;
  li {
    float: left;
    width: 25%;
    border-right: 1px solid $border-color;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    a {
      float: left;
      width: 100%;
      height: 95px;
    }
    .msg {
      background: url(../assets/images/icon/msg.png) no-repeat center center;
      background-size: 70px;
      -webkit-background-size: 70px;
      -moz-background-size: 70px;
      -ms-background-size: 70px;
      -o-background-size: 70px;
    }
    .call {
      background: url(../assets/images/icon/call.png) no-repeat center center;
      background-size: 70px;
      -webkit-background-size: 70px;
      -moz-background-size: 70px;
      -ms-background-size: 70px;
      -o-background-size: 70px;
    }
    .shopcar {
      position: relative;
      background: url(../assets/images/icon/shopcar.png) no-repeat center center;
      background-size: 70px;
      -webkit-background-size: 70px;
      -moz-background-size: 70px;
      -ms-background-size: 70px;
      -o-background-size: 70px;
      .shopnum {
        top: -15px;
        left: 108px;
        padding-top: 6px;
        text-align: center;
        font-size: 24px;
        color: #fff;
      }
    }
  }
  .footer-btn {
    border-right: none;
    text-align: center;
    a {
      line-height: 95px;
      font-size: 30px;
      background-color: #f60;
      color: #fff;
    }
  }
}
